@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }
  .header .wrapper_header {
    padding: 0;
    gap: 222px;
  }
  .header .wrapper_header .pet-story img {
    left: 14px;
  }
  .header .wrapper_header .menu {
    right: 4px;
  }
  .watch-favorite {
    top: 0px;
    height: 187px;
  }
  .watch-favorite .text {
    top: 40px;
    left: 182px;
    width: 128px;
    font-size: 28px;
    line-height: 21px;
  }
  .watch-favorite .text:before {
    top: -18px;
    left: -18px;
    width: 119px;
    height: 119px;
  }
  .watch-favorite .btn_1 {
    top: 206px;
    left: calc(50% - 149px);
  }
  .backstage {
    padding: 83px 11px 0;
    background-position: 266px 31px;
    background-size: 54px;
  }
  .backstage .text {
    width: auto;
  }
  .backstage .text h2 {
    margin: 6px 0 9px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
  }
  .backstage .text h4 {
    margin: 18px 0 11px;
  }
  .backstage .text h4 + p {
    width: auto;
  }
  .pets {
    margin: 30px 0 0;
    height: auto;
    background-position: -13px bottom, 252px bottom;
    background-size: 72px, 85px;
  }
  .pets .content .arrow {
    display: none;
  }
  .pets .content .cards-container {
    height: 1400px;
    grid-template-columns: auto;
    gap: 15px;
  }
  .pets button {
    margin: -9px 0 60px;
  }
  .pick-a-ffriend {
    padding: 20px 10px;
  }
  .pick-a-ffriend .content {
    text-align: center;
  }
  .pick-a-ffriend .content h2 {
    font-size: 24px;
    line-height: 29px;
    margin-block: 20px 18px;
  }
  .pick-a-ffriend .content .text {
    padding: 0;
  }
  .pick-a-ffriend .content .text h4 {
    font-size: 18px;
    line-height: 22px;
  }
  .pick-a-ffriend .content .text h5,
.pick-a-ffriend .content .text p {
    display: none;
  }
  .pick-a-ffriend .content h3 {
    font-size: 24px;
    line-height: 29px;
    margin-block: 19px 22px;
  }
  .pick-a-ffriend .content .icons {
    right: -5px;
    flex-direction: column;
    gap: 42px;
  }
  .pick-a-ffriend .content .icons img {
    top: 190px;
    right: -36px;
  }
  .pick-a-ffriend .content .icons img:first-of-type {
    top: 440px;
  }
  .pick-a-ffriend .content .icons figure figcaption {
    top: calc(100% + 10px);
    text-align: left;
  }
  .pick-a-ffriend .content button {
    margin-block: 62px -18px;
  }
  .testimonials {
    height: 580px;
    padding: 0 14px;
    background-position: right 514px;
    background-size: 60px;
    background-position-y: 514px;
  }
  .testimonials .testim_header {
    position: relative;
    top: -5px;
    left: -8px;
  }
  .testimonials h3 {
    font-size: 24px;
    line-height: 29px;
    margin-block: 30px 21px;
  }
  .testimonials .progress_wrapper {
    display: none;
  }
  .testimonials button {
    top: 465px;
  }
  footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 12px;
    gap: 18px;
  }
  footer .wrapper .media {
    display: inline-flex;
    gap: 29px;
  }
  footer .wrapper .pet_story {
    border: none;
    width: auto;
  }
  footer .wrapper .pet_story img {
    top: 13px;
    left: 71px;
  }
  footer .wrapper nav {
    order: 4;
  }
  footer .wrapper nav ul {
    justify-content: s;
    margin-right: 8px;
    gap: 31px;
  }
  footer .wrapper .author {
    order: 2;
  }
  footer .wrapper button {
    order: 1;
  }
}/*# sourceMappingURL=mobile.css.map */