@media screen and (max-width: 1000px) {
  .header {
    .wrapper_header {
      width: 100%;
      padding-inline: 30px;
      nav {
        span {
          width: 96px;
        }
      }
    }
  }

  .watch-favorite {
    height: 584px;
    .text {
      top: 123px;
      left: 514px;
      width: 400px;
      height: 320px;
      font-size: 85px;
      line-height: 64px;
      &::before {
        top: -51px;
        left: -60px;
        width: 367px;
        height: 367px;
      }
    }
    .btn_1 {
      top: 482px;
      left: 567px;
    }
  }

  .backstage {
    // margin-top: -58px;
    // height: 580px;
    margin: 0 0 120px 0px;
    padding: 0px 30px;
    background: none;
    gap: 32px;
    img {
      width: 455px;
      height: 408px;
    }
    .text {
      h4 + p {
        width: 454px;
      }
    }
  }

  .pets {
    margin-top: 67px;
    height: 1075px;
    background-image: url("../../assets/images/palm_foto (1).png"),
      url("../../assets/images/strelitzia\ 1.png");
    background-size: 195px, 240px;
    .content {
      .arrow {
        position: absolute;
        &:first-child {
          left: 353px;
        }
        &:last-child {
          left: 586px;
        }
      }
      .cards-container {
        row-gap: 95px;
        .card {
          .image-container {
            width: 294px;
            height: 294px;
          }
        }
      }
    }
  }

  .pick-a-ffriend {
    padding: 30px 30px 50px;
    .content {
      h2 {
        margin-block: 30px;
      }
      .text {
        padding: 0px 48px 56px;
        h4 {
          margin-bottom: 0;
        }
        h5 {
          margin-top: 17px;
        }
        p {
          width: 100%;
        }
      }
      h3 {
        margin-top: -34px;
      }
    }
    button {
      margin-top: 128px;
      margin-bottom: -7px;
    }
  }

  .testimonials {
    height: 842px;
    background-position: right 604px;
    background-size: 196px;
    h3 {
      margin: 100px auto 29px;
    }
    .container {
      .testimonial {
        width: 293px;
        height: 391px;
        &:last-child {
          display: none;
        }
      }
    }
    .progress_wrapper {
      margin-top: 17px;
      .slider {
        width: 390px;
        &::-webkit-slider-thumb {
          width: 75px;
        }
      }
    }
    button {
      bottom: 140px;
      left: 30px;
    }
  }
  footer {
    .wrapper {
      padding: 40px 32px;
      form {
        margin: 2px 0 0 228px;
        grid-column: 2/4;
      }
      nav ul {
        margin: 0 0 24px -23px;
        gap: 49px;
      }
      .author {
        margin: 0 0px 6px -84px;
      }
    }
  }
}
@media screen and (min-width: 641px) {
  body {
    width: 1000px;
  }
}
