.btn_1 {
  position: absolute;
  border: none;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  color: white;
}
.btn_1:hover {
  background: #e47209;
}
.btn_1:active {
  background: #4B9200;
}
.btn_1:disabled {
  background: #767474;
}

@media screen and (max-width: 1000px) {
  .header .wrapper_header {
    width: 100%;
    padding-inline: 30px;
  }
  .header .wrapper_header nav span {
    width: 96px;
  }
  .watch-favorite {
    height: 584px;
  }
  .watch-favorite .text {
    top: 123px;
    left: 514px;
    width: 400px;
    height: 320px;
    font-size: 85px;
    line-height: 64px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0em;
  }
  .watch-favorite .text::before {
    top: -51px;
    left: -60px;
    width: 367px;
    height: 367px;
  }
  .watch-favorite .btn_1 {
    top: 482px;
    left: 567px;
  }
  .backstage {
    margin-top: -58px;
    height: 580px;
    padding: 0px 30px;
    background: none;
    gap: 32px;
  }
  .backstage img {
    width: 455px;
    height: 408px;
  }
  .backstage .text h4 + p {
    width: 454px;
  }
  .pets {
    margin-top: 67px;
    height: 1075px;
    background-image: url("../../assets/images/palm_foto (1).png"), url("../../assets/images/strelitzia 1.png");
    background-size: 195px, 240px;
  }
  .pets .content .arrow {
    position: absolute;
  }
  .pets .content .arrow:first-child {
    left: 353px;
  }
  .pets .content .arrow:last-child {
    left: 586px;
  }
  .pets .content .cards-container {
    row-gap: 95px;
  }
  .pets .content .cards-container .card .image-container {
    width: 294px;
    height: 294px;
  }
  .pets button {
    position: static;
  }
  .pick-a-ffriend {
    padding: 30px 30px 50px;
  }
  .pick-a-ffriend .content {
    padding: 0px 48px 56px;
  }
  .pick-a-ffriend .content h2 {
    margin-block: 30px;
  }
  .pick-a-ffriend .content .text {
    margin: 0 auto;
  }
  .pick-a-ffriend .content .text h4 {
    margin-bottom: 0;
  }
  .pick-a-ffriend .content .text h5 {
    margin-top: 17px;
  }
  .pick-a-ffriend .content h3 {
    margin-top: 24px;
  }
  .testimonials {
    height: 842px;
    background-position: right 604px;
    background-size: 196px;
  }
  .testimonials h3 {
    margin: 100px auto 29px;
  }
  .testimonials .container .testimonial {
    width: 293px;
    height: 391px;
  }
  .testimonials .container .testimonial:last-child {
    display: none;
  }
  .testimonials .progress_wrapper {
    margin-top: 17px;
  }
  .testimonials .progress_wrapper .slider {
    width: 390px;
  }
  .testimonials button {
    bottom: 140px;
    left: 30px;
  }
  footer .wrapper {
    padding: 40px 32px;
  }
  footer .wrapper form {
    margin: 2px 0 0 228px;
    grid-column: 2/4;
  }
  footer .wrapper nav ul {
    margin: 0 0 24px -23px;
    gap: 49px;
  }
  footer .wrapper .author {
    margin: 0 0px 6px -84px;
  }
}
@media screen and (min-width: 640px) {
  body {
    width: 1000px;
  }
}/*# sourceMappingURL=small.css.map */