.fonts, .testimonials .container .testimonial p, .testimonials .container .testimonial .testim_header .descr, .testimonials .container .testimonial .testim_header .name, .testimonials h3, .pick-a-ffriend .content .icons figure figcaption, .pick-a-ffriend .content .text p, .pick-a-ffriend .content .text h5, .pick-a-ffriend .content .text h4, .pick-a-ffriend .content h3, .pick-a-ffriend .content h2, .pet_story {
  font-family: "Roboto";
  letter-spacing: 0em;
  text-align: left;
}

body {
  margin: 0px;
}

.main-container {
  width: 1600px;
}

.header {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #000;
  color: white;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.header span {
  width: 105px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.header .first-part {
  display: inline-flex;
  align-items: center;
}

.pet_story {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid;
  width: 82px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.pet_story img {
  position: absolute;
  top: 25px;
  left: 11px;
}

.watch-favorite {
  height: 780px;
  background-image: url("../../assets/images/Giant Panda.png");
  position: relative;
  width: 100%;
  top: -80px;
  z-index: -1;
}
.watch-favorite .circle {
  position: absolute;
  top: 92px;
  left: 807px;
  border-radius: 50%;
  width: 465px;
  height: 465px;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.watch-favorite .text {
  position: absolute;
  top: 166px;
  left: 880px;
  width: 500px;
  height: 400px;
  font-size: 107px;
  line-height: 80px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.watch-favorite .text span {
  color: #FFEE2E;
}
.watch-favorite .btn_1 {
  top: 624px;
  position: absolute;
  left: calc(50% - 149px + 332px);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  color: white;
  border: none;
}
.watch-favorite .btn_1:hover {
  background: #E47209;
}
.watch-favorite .btn_1:active {
  background: #4B9200;
}
.watch-favorite .btn_1:disabled {
  background: #767474;
}

.backstage {
  background-image: url("../../assets/images/flower_foto.png");
  height: 605px;
  background-repeat: no-repeat;
  background-position: right -29px;
  margin-top: -42px;
  grid: auto auto;
  grid-column: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
}
.backstage img {
  width: 609px;
  height: 403px;
}
.backstage .text {
  width: 465px;
}
.backstage .text h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}
.backstage .text h2 + div {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 20px 0 54px;
}
.backstage .text h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.backstage .text h4 + p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 20px 0;
}

.pets {
  margin-top: 80px;
  height: 1103px;
  background-image: url("../../assets/images/palm_foto.png"), url("../../assets/images/strelitzia 1.png");
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}
.pets button {
  position: absolute;
  left: calc(50% - 149px + 0px);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  color: white;
  border: none;
  top: 2454px;
}
.pets button:hover {
  background: #E47209;
}
.pets button:active {
  background: #4B9200;
}
.pets button:disabled {
  background: #767474;
}
.pets .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.pets .content .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
  color: #ffffff;
}
.pets .content .arrow:hover {
  background: #4B9200;
}
.pets .content .cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 26px;
  -moz-column-gap: 26px;
       column-gap: 26px;
  row-gap: 22px;
}
.pets .content .cards-container .card {
  border: 1px solid #FE9013;
  border-radius: 5px;
  padding: 10px;
}
.pets .content .cards-container .card > img {
  width: 346px;
  transition: all 0.5s linear;
}
.pets .content .cards-container .card > img:hover {
  transform: scale(1.05);
}
.pets .content .cards-container .card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s linear;
  -webkit-animation: menu 0.5s linear forwards;
          animation: menu 0.5s linear forwards;
  transform-origin: top center;
  margin-top: 7px;
}
.pets .content .cards-container .card .text {
  margin-left: 4px;
}
.pets .content .cards-container .card .text h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  margin: 4px 0 0;
}
.pets .content .cards-container .card .text div {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.pick-a-ffriend {
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
  opacity: 0.9;
  display: flex;
}
.pick-a-ffriend .content {
  background: #C4C4C4;
  height: 835px;
  width: 1160px;
  border-radius: 20px;
  margin: 69px auto 100px;
  opacity: 1;
  flex-direction: column;
}
.pick-a-ffriend .content h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  color: #FE9013;
  text-align: center;
}
.pick-a-ffriend .content h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  margin: 58px 0 23px;
}
.pick-a-ffriend .content .text {
  margin-left: 97px;
}
.pick-a-ffriend .content .text h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin: -7px 0 39px;
}
.pick-a-ffriend .content .text h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.pick-a-ffriend .content .text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 862px;
  margin-top: -18px;
}
.pick-a-ffriend .content .text a {
  color: inherit;
  -webkit-text-decoration-color: #FE9013;
          text-decoration-color: #FE9013;
}
.pick-a-ffriend .content .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pick-a-ffriend .content .icons figure {
  width: 168px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #FE9013;
  margin-inline: 29px;
}
.pick-a-ffriend .content .icons figure figcaption {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  top: calc(100% + 30px);
  left: 0;
}
.pick-a-ffriend button {
  position: absolute;
  left: calc(50% - 149px + 0px);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  color: white;
  border: none;
  top: 3397px;
}
.pick-a-ffriend button:hover {
  background: #E47209;
}
.pick-a-ffriend button:active {
  background: #4B9200;
}
.pick-a-ffriend button:disabled {
  background: #767474;
}

.testimonials {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 920px;
  background-image: url("../../assets/images/leav_foto.png");
  background-repeat: no-repeat;
  background-position: right 645px;
}
.testimonials h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  margin: 140px auto 48px;
}
.testimonials .container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.testimonials .container .testimonial {
  border-radius: 20px;
  width: 264px;
  height: 387px;
  padding: 2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.testimonials .container .testimonial > * {
  border-radius: 20px;
  background: #F1F3F2;
  padding: 12px 15px 15px 15px;
}
.testimonials .container .testimonial .testim_header {
  display: inline-flex;
  gap: 10px;
}
.testimonials .container .testimonial .testim_header img {
  width: 37px;
  height: 37px;
}
.testimonials .container .testimonial .testim_header .name {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.testimonials .container .testimonial .testim_header .descr {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
.testimonials .container .testimonial p {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin: 8px 0;
  height: 305px;
  overflow: hidden;
}
.testimonials progress {
  align-self: center;
  margin-top: 17px;
  width: 596px;
  cursor: pointer;
}
.testimonials button {
  position: absolute;
  left: calc(50% - 149px - 431px);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  color: white;
  border: none;
  border-radius: 5px;
  bottom: 181px;
}
.testimonials button:hover {
  background: #E47209;
}
.testimonials button:active {
  background: #4B9200;
}
.testimonials button:disabled {
  background: #767474;
}

footer {
  background: #000;
}

@-webkit-keyframes menu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes menu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}/*# sourceMappingURL=style.css.map */