.btn_1, footer .wrapper .to_donate, .testimonials button, .watch-favorite .testimonials button, .testimonials .watch-favorite button, .pick-a-ffriend button, .watch-favorite .pick-a-ffriend button, .pick-a-ffriend .watch-favorite button, .pets button, .watch-favorite .pets button, .pets .watch-favorite button, .watch-favorite .btn_1 {
  position: absolute;
  border: none;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  color: white;
}
.btn_1:hover, footer .wrapper .to_donate:hover, .testimonials button:hover, .pick-a-ffriend button:hover, .pets button:hover {
  background: #e47209;
}
.btn_1:active, footer .wrapper .to_donate:active, .testimonials button:active, .pick-a-ffriend button:active, .pets button:active {
  background: #4B9200;
}
.btn_1:disabled, footer .wrapper .to_donate:disabled, .testimonials button:disabled, .pick-a-ffriend button:disabled, .pets button:disabled {
  background: #767474;
}

@media screen and (min-width: 1001px) {
  body {
    min-width: 1600px;
  }
}
body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
  text-align: left;
  letter-spacing: 0em;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 80px;
  background: #000;
  text-align: center;
  color: white;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.header .wrapper_header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding-inline: 220px;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header span {
  width: 105px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.header nav {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 21px;
}
.header nav .active {
  color: orange;
}
.header nav span {
  cursor: pointer;
}
.header nav span:hover {
  color: orange;
}

.pet_story {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid;
  width: 80px;
  height: 50px;
}
.pet_story img {
  position: absolute;
  top: 25px;
  left: 11px;
}
.pet_story > * {
  font-size: 19px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
}

.watch-favorite {
  position: relative;
  z-index: 0;
  top: -80px;
  width: 100%;
  height: 780px;
  background-image: url("../../assets/images/Giant Panda.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.watch-favorite .text {
  position: absolute;
  top: 166px;
  left: 880px;
  width: 500px;
  height: 400px;
  font-size: 107px;
  line-height: 80px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.watch-favorite .text span {
  color: #FFEE2E;
}
.watch-favorite .text:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -75px;
  left: -75px;
  border-radius: 50%;
  width: 465px;
  height: 465px;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.watch-favorite .btn_1, .watch-favorite footer .wrapper .to_donate, footer .wrapper .watch-favorite .to_donate, .watch-favorite .testimonials button, .testimonials .watch-favorite button, .watch-favorite .pick-a-ffriend button, .pick-a-ffriend .watch-favorite button, .watch-favorite .pets button, .pets .watch-favorite button {
  top: 624px;
  left: calc(50% - 149px + 332px);
  border-radius: 25px;
}

.backstage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 158px;
  background-image: url("../../assets/images/flower_foto.png");
  background-position: right -29px;
  background-repeat: no-repeat;
  gap: 85px;
}
.backstage img {
  width: 609px;
  height: 403px;
}
.backstage .text {
  width: 465px;
}
.backstage .text h2 {
  margin: 22px 0 0 0;
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
}
.backstage .text h2 + div {
  margin: 20px 0 54px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.backstage .text h4 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
.backstage .text h4 + p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  height: 1103px;
  background-image: url("../../assets/images/palm_foto.png"), url("../../assets/images/strelitzia 1.png");
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
  gap: 82px;
}
.pets .cards-wrapper {
  display: flex;
  overflow: hidden;
  width: 1156px;
  gap: 80px;
}
.pets button {
  position: static;
  left: calc(50% - 149px + 0px);
  border-radius: 25px;
}
.pets .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.pets .content .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  cursor: pointer;
  color: #ffffff;
}
.pets .content .arrow:hover {
  background: #4B9200;
}
.pets .content .cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 26px;
  -moz-column-gap: 26px;
       column-gap: 26px;
  row-gap: 22px;
}
.pets .content .cards-container .card {
  border: 1px solid #fe9013;
  border-radius: 5px;
}
.pets .content .cards-container .card .image-container {
  overflow: hidden;
  width: 366px;
  height: 366px;
}
.pets .content .cards-container .card .image-container:hover {
  background-color: black;
}
.pets .content .cards-container .card .image-container img {
  transition: all 0.4s linear;
  width: 100%;
}
.pets .content .cards-container .card .image-container img:hover {
  opacity: 0.5;
  transform: scale(1.05);
}
.pets .content .cards-container .card .wrapper {
  transition: transform 0.4s linear;
}
.pets .content .cards-container .card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-animation: menu 0.5s linear forwards;
          animation: menu 0.5s linear forwards;
  transition: all 0.5s linear;
  padding: 2px 14px 10px;
  transform-origin: top center;
}
.pets .content .cards-container .card .text h5 {
  margin: 4px 0 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.pets .content .cards-container .card .text div {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
}

.pick-a-ffriend {
  opacity: 0.9;
  padding: 71px 220px 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.pick-a-ffriend .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  border-radius: 20px;
  padding-bottom: 58px;
  background: #C4C4C4;
}
.pick-a-ffriend .content h2 {
  text-align: center;
  color: #fe9013;
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
}
.pick-a-ffriend .content h3 {
  margin: 42px 0 23px;
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  font-weight: 400;
}
.pick-a-ffriend .content .text {
  padding: 0 30px 0 70px;
}
.pick-a-ffriend .content .text h4 {
  margin: -7px 0 39px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
.pick-a-ffriend .content .text h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.pick-a-ffriend .content .text p {
  margin-top: -18px;
  width: 84%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.pick-a-ffriend .content .text a {
  color: inherit;
  -webkit-text-decoration-color: #fe9013;
          text-decoration-color: #fe9013;
}
.pick-a-ffriend .content .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pick-a-ffriend .content .icons figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fe9013;
  width: 168px;
  height: 168px;
  margin-inline: 29px;
}
.pick-a-ffriend .content .icons figure figcaption {
  position: absolute;
  top: calc(100% + 30px);
  left: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.pick-a-ffriend button {
  position: static;
  margin-top: 120px;
  left: calc(50% - 149px + 0px);
  border-radius: 25px;
}

.testimonials {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 920px;
  background-image: url("../../assets/images/leav_foto.png");
  background-position: right 645px;
  background-repeat: no-repeat;
}
.testimonials h3 {
  margin: 140px auto 48px;
  text-align: center;
  font-size: 36px;
  line-height: 47px;
  font-weight: 400;
}
.testimonials .wrapper-container {
  position: relative;
  overflow: hidden;
  width: 1170px;
  height: 391px;
}
.testimonials .container {
  position: absolute;
  display: flex;
  justify-content: center;
  transition: transform 1s;
  gap: 30px;
}
.testimonials .progress_wrapper {
  display: inline-flex;
  align-items: center;
  margin-top: 22px;
  border-radius: 5px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.testimonials .progress_wrapper .slider {
  margin: 0.8px;
  border-radius: 5px;
  width: 600px;
  background: #f5f7f6;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.testimonials .progress_wrapper .slider::-webkit-slider-thumb {
  border-radius: 5px;
  width: 12.5%;
  height: 6px;
  background: orange;
  -webkit-appearance: none;
          appearance: none;
}
.testimonials button {
  bottom: 181px;
  border-radius: 5px;
  left: calc(50% - 149px - 431px);
  border-radius: 5px;
}

footer {
  background: #000;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer .wrapper {
  display: grid;
  margin: 0 auto;
  padding: 40px 220px;
  grid-template-columns: 310px 480px auto;
}
footer .wrapper form {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4px;
  grid-column: 3/4;
  row-gap: 8px;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
footer .wrapper form label {
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
footer .wrapper form input {
  border-radius: 2px;
  width: 228px;
  height: 42px;
  background: inherit;
  color: inherit;
  border-color: #f9804b;
  border-style: solid;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
footer .wrapper form input:focus-visible {
  border-color: #4B9200;
  outline: none;
}
footer .wrapper form button {
  border: 1px solid #d31414;
  border-radius: 5px;
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  letter-spacing: 0em;
  color: #d31414;
}
footer .wrapper .to_donate {
  position: static;
  margin-top: 33px;
  grid-column: 1/4;
  left: calc(50% - 149px + 0px);
  border-radius: 5px;
}
footer .wrapper .media {
  margin-top: 41px;
}
footer .wrapper .media > * {
  margin: 8px 0;
}
footer .wrapper .media li:hover {
  transform: translate(5px);
}
footer .wrapper .media_elem {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
footer .wrapper .media_elem .wrapper_media {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background: #c4c4c4;
}
footer .wrapper nav {
  align-self: end;
}
footer .wrapper nav ul {
  display: inline-flex;
  margin-bottom: 23px;
  margin-left: 89px;
  gap: 58px;
}
footer .wrapper nav li {
  cursor: pointer;
}
footer .wrapper nav li:hover {
  color: orange;
}
footer .wrapper .author {
  align-self: end;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-left: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
}
footer ul {
  list-style: none;
  padding-inline: 0px;
}

.testimonial {
  border-radius: 20px;
  height: 387px;
  padding: 2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.testimonial > * {
  border-radius: 20px;
  width: 234px;
  padding: 12px 15px 14px 15px;
  background: #F1F3F2;
}
.testimonial .testim_header {
  display: inline-flex;
  gap: 10px;
}
.testimonial .testim_header img {
  width: 37px;
  height: 37px;
}
.testimonial .testim_header .name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.testimonial .testim_header .descr {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
}
.testimonial p {
  overflow: hidden;
  margin: 8px 0;
  height: 305px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
}

@-webkit-keyframes menu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes menu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}/*# sourceMappingURL=style.css.map */