@media screen and (max-width: 640px) {
  .header {
    max-height: 34px;
  }
  .header .wrapper_header {
    padding-inline: 3px;
  }
  .header .pet_story {
    border: none;
  }
  .header .menu {
    position: relative;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    padding: 7px;
    background: url("../../assets/icons/burger_menu.png") no-repeat center;
    cursor: pointer;
  }
  .header .menu:hover > * {
    transform: scaleY(1);
  }
  .header .menu > * {
    position: absolute;
    top: 100%;
    left: -80px;
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transition: transform 0.5s;
    height: 170px;
    padding: 10px;
    background: #000;
    transform-origin: top;
  }
  .header .menu > * nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
    text-align: left;
  }
  .watch-favorite {
    top: -34px;
    height: 373px;
  }
  .watch-favorite .text {
    top: 82px;
    left: 366px;
    width: 256px;
    font-size: 54px;
    line-height: 41px;
  }
  .watch-favorite .text::before {
    top: -36px;
    left: -36px;
    width: 237px;
    height: 237px;
  }
  .watch-favorite .btn_1 {
    top: 280px;
    left: 22px;
  }
  .pet_story > * {
    font-size: 12px;
    line-height: 14px;
  }
  .pet_story img {
    position: absolute;
    left: 20px;
    block-size: 15px;
  }
  .backstage {
    justify-content: left;
    margin: 15px 0 -50px;
    padding: 3px 21px;
    background: url("../../assets/images/flower_foto1.png") no-repeat right -58px;
  }
  .backstage img {
    display: none;
  }
  .backstage .text h2 {
    margin: 5px 0 22px 0;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
  }
  .backstage .text h2 + div {
    margin: 0;
  }
  .backstage .text h4 {
    margin-bottom: 16px;
  }
  .backstage .text h4 + p {
    margin-top: 0px;
    margin-bottom: 60px;
    width: 105%;
  }
  .pets {
    height: 972px;
    background-image: url("../../assets/images/palm_foto.png"), url("../../assets/images/strelitzia 1.png");
    background-size: 130px, 172px;
    gap: 16px;
  }
  .pets .content {
    position: relative;
  }
  .pets .content .arrow {
    top: 344px;
  }
  .pets .content .arrow:first-child {
    left: 224px;
  }
  .pets .content .arrow:last-child {
    left: 316px;
  }
  .pets .content .cards-container {
    overflow: hidden;
    height: 800px;
    row-gap: 88px;
    grid-template-columns: auto auto;
  }
  .pets .content .cards-container .card .image-container {
    width: 285px;
    height: 285px;
  }
  .pets .content .cards-container .card .text div {
    font-size: 12px;
    line-height: 12px;
  }
  .pets .content .cards-container .card .text h5 {
    font-size: 12px;
    line-height: 16px;
  }
  .pick-a-ffriend {
    padding: 20px 0 22px;
  }
  .pick-a-ffriend .content h2 {
    font-size: 42px;
    line-height: 50px;
    margin-block: 10px 28px;
  }
  .pick-a-ffriend .content h3 {
    margin-top: 10px;
  }
  .pick-a-ffriend .content .text {
    padding: 0 5px 0 20px;
  }
  .pick-a-ffriend .content .text h4 {
    font-size: 22px;
    line-height: 26px;
  }
  .pick-a-ffriend .content .icons {
    position: relative;
  }
  .pick-a-ffriend .content .icons figure {
    top: -18px;
    left: -6px;
    margin-inline: 20px;
  }
  .pick-a-ffriend .content .icons > img {
    position: absolute;
    top: -18px;
    right: 182px;
  }
  .pick-a-ffriend .content .icons img:first-of-type {
    left: 152px;
  }
  .pick-a-ffriend .content button {
    margin: 82px auto 0px;
  }
}
@media screen and (min-width: 321px) and (max-width: 640px) {
  body {
    width: 640px;
  }
}/*# sourceMappingURL=tablet.css.map */