$Green: #4B9200;
// $Orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$Yellow: #FFEE2E;
$Pink_grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$Red: #D31414;
$Black_blue: #333B41;
$Gray: #767474;
$Gray_smoky: #ABABAB;
$Light_gray: #F1F3F2;
$Frosted_glass-white: #C4C4C4;
$Test: rgba(#F9804B, 100%);

