@import "./backgrounds.scss";
@import "./colors.scss";

@mixin testimonial {
  border-radius: 20px;
  // width: 264px;
  height: 387px;
  padding: 2px;
  background: $Pink_grad;
  & > * {
    border-radius: 20px;
    width: 234px;
    padding: 12px 15px 14px 15px;
    background: $Light_gray;
  }
}
