@media screen and (max-width: 640px) {
  body {
    width: 640px;
  }
  .header {
    max-height: 34px;
  }
  .header.opened-menu {
    background: #fff;
    color: orange;
  }
  .header.opened-menu .pet_story {
    z-index: 1;
    top: 20px;
    left: 10px;
    border: 1px solid;
  }
  .header.opened-menu .pet_story h1 {
    font-size: 15px;
    line-height: 18px;
  }
  .header .wrapper_header {
    position: relative;
    position: relative;
    padding-inline: 3px;
  }
  .header .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transition: transform 0.5s ease 0s;
    width: 100%;
    height: 329px;
    background: #fff;
    color: #000;
    padding-block: 50px;
    gap: 18px;
    transform-origin: center top;
  }
  .header .menu-container > * {
    padding-inline: 20px;
  }
  .header .menu-container nav {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    text-align: left;
  }
  .header .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transition: transform 0.5s ease 0s;
    width: 100%;
    height: 329px;
    background: #fff;
    color: #000;
    padding-block: 50px;
    gap: 18px;
    transform-origin: center top;
  }
  .header .menu-container > * {
    padding-inline: 20px;
  }
  .header .menu-container nav {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    text-align: left;
  }
  .header .pet_story {
    border: none;
  }
  .header .pet_story > * {
    font-size: 12px;
    line-height: 14px;
  }
  .header .pet_story img {
    position: absolute;
    left: 20px;
    block-size: 15px;
  }
  .header .menu {
    position: relative;
    right: 10px;
    width: 18px;
    height: 18px;
    padding: 7px;
    background: url("../../assets/icons/burger_menu.png") no-repeat center;
    cursor: pointer;
  }
  .header .menu.opened-menu {
    background: url("../../assets/icons/x_icon.png") no-repeat center;
  }
  .back-image {
    height: 335px;
    background-position: -256px -182px;
    background-size: 1340px 700px;
  }
  .pick-a-feed {
    padding: 1px 20px 0;
  }
  .pick-a-feed .content {
    padding-bottom: 44px;
  }
  .pick-a-feed .content .text h3 {
    margin-top: 28px;
    width: initial;
    font-size: 24px;
    line-height: 29px;
  }
  .pick-a-feed .content .text p {
    margin-top: 20px;
  }
  .pick-a-feed .content h3:not(.text *) {
    margin-top: 32px;
  }
  .pick-a-feed .content .inside-window {
    margin-top: -7px;
    padding: 6px 0 24px;
  }
  .pick-a-feed .content .inside-window p {
    margin: -6px 0 12px 0;
    width: 85%;
    text-align: center;
  }
  .pick-a-feed .content .inside-window form {
    margin-top: 42px;
  }
  .pick-a-feed .content .inside-window form .progress {
    width: 100%;
  }
  .pick-a-feed .content .inside-window form .progress :first-child {
    position: relative;
    top: 4px;
    left: 10px;
    text-align: left;
  }
  .pick-a-feed .content .inside-window form .progress label:nth-of-type(2),
.pick-a-feed .content .inside-window form .progress label:nth-of-type(3) {
    display: none;
  }
  .pick-a-feed .content .inside-window form .progress .bar {
    gap: 93px;
    padding-inline: 23px;
  }
  .pick-a-feed .content .inside-window form .progress .bar:before {
    width: 86%;
  }
  .pick-a-feed .content .inside-window form input[type=number] {
    width: 180px;
    height: 42px;
  }
  footer .wrapper {
    padding: 11px 20px;
    grid-template-columns: 50% 50%;
  }
  footer .wrapper form {
    display: none;
  }
  footer .wrapper .media {
    margin-top: -16px;
    grid-area: 1/2/3/3;
    justify-self: end;
  }
  footer .wrapper .media li {
    margin-block: 18px;
  }
  footer .wrapper .media .wrapper_media + span {
    display: none;
  }
  footer .wrapper .to_donate {
    margin-top: -26px;
    grid-row: 2;
    grid-column: 1;
  }
  footer .wrapper nav ul {
    margin: 0 0 18px 0px;
    gap: 37px;
  }
  footer .wrapper .author {
    margin: -8px 0 0px 0;
    justify-self: end;
  }
  #overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.8);
  }
}
@media screen and (min-width: 321px) and (max-width: 640px) {
  body {
    width: 640px;
  }
}/*# sourceMappingURL=tablet.css.map */